body {
    background: darkgray;
    color: white;
}

img {
    width: 40px;
    height: auto;
}

h3 {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    text-transform: uppercase;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: solid 10px yellow;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: lightblue;
    border-radius: 8px;
    padding: 4px;
    margin-top: 80px;
    width: 200px;
    height: 300px;
    color: navy;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pic {
    border: solid 3px yellow;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: gray;
    width: 150px;
    height: 100px;
}

#poke-info {
    margin: 10px;
}

#header {
    width: 150px;
    padding: 2px;
    margin: 4px;
}
